@import '../abstracts/variables';

.mr-2 {
    margin-right: 2rem;
}

.mr-1 {
    margin-right: 1rem;
}


.ml-0d5 {
    margin-left: 0.5rem;
}

.ml-1 {
    margin-left: 1rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-2 {
    margin-top: 2rem;
}
